<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign up | The Coffee House</title>

        {% load static %}
        
        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'assets/favicon/apple-touch-icon.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'assets/favicon/favicon-32x32.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'assets/favicon/favicon-16x16.png' %}"
        />
        <link rel="manifest" href="../assets/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font -->
        <link rel="stylesheet" href="{% static 'assets/fonts/stylesheet.css' %}" />

        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/SignUp.js" defer></script>
        <script src="../assets/js/scripts.js"></script>
    </head>

    <body>
        <!-- Header -->
        <header id="header" class="header"></header>
        {% include '../templates/header.html' %}

        <!-- Main -->
        <div class="main-first" id="about-app">
            <div class="container">
                <div class="row">
                    <!-- Hero title -->
                    <div class="col-12">
                        <h1 class="page__title">Finished Homework</h1>
                    </div>
                    <!-- deleted sort by "due date" button and "priority" button -->
                </div>
                <div class="row">
                    <ul class="col-12 homework__list">
                        {% for homework in finished_list %}
                        <a href="{% url 'homework_details' homework.id %}">
                            <li class="homework__item">
                                <div class="homework__container">
                                    <div class="col-10 homework__content">
                                        <h2 class="homework__name">
                                            {{ homework.name }}
                                        </h2>
                                        <div class="homework__desc">
                                            <p class="homework__duedate">
                                                Due at: {{ homework.due_date|date:"m/d/Y" }}
                                            </p>
                                            {% if homework.note %}
                                            <p class="homework__note">
                                                Note: {{ homework.note }}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% empty %}
                        <li class="homework__item">
                            <div class="homework__container">
                                <p>No homework available.</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer"></footer>
        {% include '../templates/footer.html' %}
    </body>
</html>
