<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign in</title>

        {% load static %}

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'assets/favicon/apple-touch-icon.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'assets/favicon/favicon-32x32.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'assets/favicon/favicon-16x16.png' %}"
        />
        <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font -->
        <link
            rel="stylesheet"
            href="{% static 'assets/fonts/stylesheet.css' %}"
        />

        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

        <!-- Scripts -->
        <script src="{% static 'assets/js/scripts.js' %}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="{% static 'js/Login.js' %}" defer></script>
    </head>

    <body>
        <main class="auth">
            <div class="auth__content">
                <div class="auth__content-inner">
                    <a href="/" class="logo">
                        <img
                            src="{% static 'assets/img/myhomework-logo.png' %}"
                            alt=""
                            class="logo__img logo__img--signin"
                        />
                    </a>
                    <h1 class="auth__heading">Sign in</h1>
                    <p class="auth__desc">Welcome back!</p>
                    <form
                        method="post"
                        action="{% url 'sign_in' %}"
                        class="form auth__form"
                    >
                        {% csrf_token %}
                        <div class="form__group">
                            <div class="form__text-input">
                                <input
                                    type="text"
                                    name="username"
                                    id="username"
                                    placeholder="Username"
                                    class="form__input"
                                    required
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                            <p class="form__error">
                                {{ form.username.errors }}
                            </p>
                        </div>
                        <div class="form__group">
                            <div class="form__text-input">
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    placeholder="Password"
                                    class="form__input"
                                    required
                                    minlength="6"
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                            <p class="form__error">
                                {{ form.password.errors }}
                            </p>
                        </div>
                        <!--deleted "forgot your password?" link-->
                        <div class="form__group auth__btn-group">
                            <button
                                type="submit"
                                class="btn btn--outline auth__btn btn--no-margin"
                            >
                                Sign in
                            </button>
                        </div>
                        <a href="{% url 'sign_up' %}">
                            <div class="form__group auth__btn-group">
                                <button type="button" class="btn btn--primary">
                                    Sign up
                                </button>
                            </div>
                        </a>
                    </form>
                    <p style="color: red" id="loginResult">
                        {{ form.non_field_errors }}
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
