<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign up</title>

        {% load static %}

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'assets/favicon/apple-touch-icon.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'assets/favicon/favicon-32x32.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'assets/favicon/favicon-16x16.png' %}"
        />
        <link rel="manifest" href="../assets/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font -->
        <link rel="stylesheet" href="{% static 'assets/fonts/stylesheet.css' %}" />

        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/SignUp.js" defer></script>
        <script src="../assets/js/scripts.js"></script>
    </head>

    <body>
        <main class="auth">
            <div class="auth__content">
                <div class="auth__content-inner">
                    <a href="/" class="logo">
                        <img
                            src="{% static 'assets/img/myhomework-logo.png' %}"
                            alt=""
                            class="logo__img logo__img--signin"
                            />
                        </a>
                        <h1 class="auth__heading">Sign up</h1>
                        <p class="auth__desc">Join My Homework!</p>
                    <form action="{% url 'sign_up' %}" method="post" class="form auth__form">
                        {% csrf_token %}
                        <div class="form__group">
                            <div class="form__text-input">
                                <input
                                type="text"
                                name="username"
                                id="username"
                                placeholder="Username"
                                    class="form__input"
                                    required
                                    autocomplete="username"
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                        </div>
                        <p class="form__error">{{ form.username.errors }}</p>

                        <div class="form__group">
                            <div class="form__text-input">
                                <input
                                    type="password"
                                    name="password1"
                                    id="password1"
                                    placeholder="Password"
                                    class="form__input"
                                    required
                                    minlength="6"
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                            <p class="form__error">{{ form.password1.errors }}</p>
                        </div>
                        <div class="form__group">
                            <div class="form__text-input">
                                <input
                                    type="password"
                                    name="password2"
                                    id="password2"
                                    placeholder="Confirm password"
                                    class="form__input"
                                    required
                                    minlength="6"
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                            <p class="form__error">{{ form.password2.errors }}</p>
                        </div>
                        <!-- <div class="form__group">
                            <div class="form__text-input">
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    placeholder="Name"
                                    class="form__input"
                                    required
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                            <p class="form__error">{{ form.name.errors }}</p>
                            (Tên không được để trống)
                        </div> -->
                        <!--deleted 'adress' form-->
                        <!-- <div class="form__group">
                            <div class="form__text-input">
                                <input
                                type="text"
                                name="address"
                                id="address"
                                placeholder="Address"
                                class="form__input"
                                required
                                />
                                <img src="" alt="" class="form__input-icon" />
                            </div>
                            <p class="form__error">
                                Địa chỉ không được để trống
                            </p>
                        </div> -->
                        <!--deleted 'default password' function-->
                        <!-- <div class="form__group form__group--inline">
                            <label class="form__checkbox">
                                <input
                                type="checkbox"
                                    name=""
                                    id=""
                                    class="form__checkbox-input"
                                />
                                <span class="form__checkbox-label"
                                    >Set as default password
                                </span>
                            </label>
                        <deleted 'recover password' button>
                        </div> -->
                        <div class="form__group auth__btn-group">
                            <button type="submit" class="btn btn--outline auth__btn btn--no-margin">Sign up</button>
                        </div>
                    </form>

                    <div class="auth__text">
                        You've already had an account?
                        <a href="{% url 'sign_in' %}" class="auth__link">Sign in</a>
                    </div>
                    <p style="color: red" id="signUpResult">{{ form.non_field_errors }}</p>
                </div>
            </div>
        </main>
    </body>
</html>
