.footer {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background-color: #000000d9;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    box-sizing: border-box;

    &__column {
        flex: 1;
        min-width: 200px;
        color: #fff;
        letter-spacing: 0.005cm;

        &:first-of-type {
            margin-left: 50px;
        }

        &-heading {
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 16px;
        }

        &-items {
            a {
                color: #fff;
                line-height: 20px;
                font-size: 11px;
            }

            li {
                margin: 15px 0;
            }
        }
    }

    &__address {
        p {
            width: 225px;
            font-size: 12px;
            letter-spacing: 0.005cm;
            line-height: 1.5;
        }
    }

    &__fb-banner {
        width: 270px;
        height: 130px;
        object-fit: cover;
    }

    &__social {
        display: flex;
        gap: 20px;
        margin-top: 30px;

        a {
            display: flex;
            width: 30px;
            height: 30px;
        }

        .footer-instagram {
            margin-top: -2px;
            width: 35px;
            height: 35px;
            object-fit: cover;
        }
    }

    .container {
        display: flex;
    }
}
