@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

// Common
.main-first {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px 0;
}

.main-second {
    width: 100%;
    background-color: rgb(246, 242, 218);
    padding: 100px 0;
}

.main-third {
    width: 100%;
    background-color: rgb(220, 243, 219);
    padding: 100px 0;
}

.navbar {
    a:hover {
        transition: 0.2s;
        color: var(--text-theme-color);
    }
}

#about-app {
    scroll-margin-top: 100px;
}

#view-homework,
#add-new {
    scroll-margin-top: 80px;
}

//

.header {
    position: sticky;
    top: -8px;
    z-index: 2;
    background-color: rgba(245, 245, 245, 0.95);
    // background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.5px 0.5px 4px 4px #ccc;
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 10px 0;

    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    @include abstracts.screen(sm) {
        justify-content: space-between;
        padding: 16px 0;
    }

    &__more {
        display: none;
        @include abstracts.screen(lg) {
            display: block;
        }
    }
}

.logo {
    &__img {
        margin-top: 1px;
        width: 200px;
        height: 60px;
        object-fit: cover;
        margin-left: -6px;
    }

    &__img--signin {
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin-top: 40px;
    }
}

.navbar {
    margin-left: 20px;

    @include abstracts.screen(xl) {
        margin-left: 50px;
    }

    @include abstracts.screen(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
    }

    &__link {
        padding: 0 15px 0 15px;
        color: black;
        font-size: 16px;
        font-weight: 600;
    }

    &__link:first-of-type {
        margin-left: 45px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    margin-left: auto;

    @include abstracts.screen(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.screen(md) {
            display: none;
        }
    }

    &__user {
        position: relative;

        &:hover .dropdown {
            display: block;

            &-balance {
                color: #767676;
                margin: 10px 0 2px 10px;
            }
        }
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }

    &__cart {
        position: relative;

        &:hover .dropdown {
            display: block;
        }

        .cart-icon {
            cursor: pointer;
        }

        .dropdown {
            position: absolute;
            width: 350px;
            left: -160px;

            &-head {
                width: 100%;
                margin-bottom: 20px;
            }

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                &__thumb {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 10px;
                    margin-right: 10px;
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }

                &__title {
                    font-weight: 600;
                }
            }
        }
    }
}

.home {
    &__container {
        margin-top: 20px;
    }
}

.slideshow {
    &__img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
    }
}

.cate-item {
    &__thumb {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.18);
    }

    &__title {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    &__info a {
        display: block;
    }
}

.small-banner {
    width: 555px;
    height: 350px;
}

.cart-icon {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-top: 10px;
}
