html {
    background-color: #f6f6f6;
}

a.profile-menu__link:hover {
    background: #fff;
}

.profile {
    &-container {
        margin-top: 30px;
    }

    &__sidebar {
        padding-bottom: 30px;
        border-radius: 20px;
        background: #f4ede0;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        overflow: hidden;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.18);
    }

    // User
    &-user {
        height: 246px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: rgb(244, 237, 224);
        background: linear-gradient(
                180deg,
                rgba(26, 22, 46, 0) 0%,
                #1a162e 150%
            ),
            url(../img/profile/cover.jpg) no-repeat bottom / cover;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

        &__avatar {
            margin: 27px 0;
            border-radius: 50%;
            width: 121px;
            height: 121px;
            object-fit: cover;
            border: 5px solid rgba(255, 255, 255, 0.2);
            background: url(<path-to-image>) lightgray -475.937px -52.524px /
                    819.939% 546.626% no-repeat,
                #dfd2fa;
            box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        }

        &__name {
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            line-height: 144.444%;
        }

        &__desc {
            color: #ccc;
            font-size: 15px;
            font-weight: 500;
            line-height: 146.667%;
        }
    }

    // Menu
    &-menu {
        margin-top: 30px;
        padding: 0 30px;

        &__link {
            display: flex;
            align-items: center;
            gap: 15px;
            height: 42px;
            padding: 25px 25px;
            border-radius: 5px;

            color: #1a162e;
            font-size: 17px;
            font-weight: 400;
            line-height: 146.667%;
            transition: background-color 0.2s;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;
            width: 25px;
        }
    }
}
.user-info {
    height: 700px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.18);
    overflow: hidden;

    &__title {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__heading {
        font-size: 17px;
        font-weight: 600;
        margin: 8px 0;
    }

    .payment-card {
        margin-left: 30px;
        width: 300px;
        height: 180px;
    }

    .row {
        margin: 0 0 -10px -22px;

        &__payment-card {
            margin: 20px 0;
        }
    }

    .col-6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-new-card {
        border-radius: 10px;
        border: 1px dashed #d2d1d6;
        padding: 60px 90px;
        cursor: pointer;
    }

    .add-new-card a {
        display: block;
        padding: 10px;
        cursor: pointer;
    }

    .add-new-card__icon {
        margin-left: 49px;
    }

    .add-new-card__icon:hover {
        cursor: pointer;
    }

    &__gender {
        padding: 10px 0;
        margin-bottom: 20px;
    }
}
