.history-sidebar {
    padding: 0 0;
}

.purchase-history {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    overflow: scroll;


}

.purchase-date {
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ddd;
    }
}

.purchase-details {
    margin: 5px 15px;
    height: 50;
    opacity: 100;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;

    &.active {
        max-height: 600px;
        overflow-y: scroll;
        opacity: 1;
        transform: translateY(0);
        margin: 15px 15px;
    }

    h4 {
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        padding: 5px 0;
    }
}

.purchased-item {
    display: flex;
    padding: 30px 10px 20px 10px;
    border-bottom: 1px solid #ccc;

    &__thumb {
        width: 150px;
        height: 150px;
        margin: 0 30px 0 0px;
        object-fit: contain;
        border-radius: 10px;
    }

    &__title {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 144.444%;
    }

    &__price-wrap,
    &__number {
        margin: 16px 0;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        display: flex;
        align-items: center;
    }

    &__status {
        margin-right: 5px;
    }
}
