<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Coffee House</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png" />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Font -->
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="../assets/css/main.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/GetProducts-logined.js" defer></script>
    <script src="../assets/js/scripts.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="header" class="header"></header>
    <script>
        load("#header", "../templates/header-logined.html");
    </script>

    <!-- Main -->
    <div class="container home">
        <section class="home__banner">
            <div class="slideshow">
                <div class="slideshow__inner">
                    <a href="#!" class="slideshow__item">
                        <img src="../assets/img/header-big-img.webp" alt="" class="slideshow__img" />
                    </a>
                </div>
            </div>
        </section>
        <section class="home__container">
            <div class="slideshow">
                <div class="slideshow__inner">
                    <a href="#!" class="slideshow__item">
                        <img src="../assets/img/header-big-img.webp" alt="" class="slideshow__img" />
                    </a>
                </div>
            </div>
        </section>

        <section class="home__container">
            <div class="row row-cols-4 row-cols-md-1">
                <!-- Các sản phẩm sẽ được render tại đây -->
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer"></footer>
    <script>
        load("#footer", "../templates/footer.html");
    </script>
</body>

</html>