<div class="container">
    <div class="top-bar">
        <!-- More -->

        <!-- Logo -->
        <a href="" class="logo">
            <img src="./assets/img/only-text.png" alt="" class="logo__img" />
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#about-app" class="navbar__link">About app</a>
                </li>
                <li class="navbar__item">
                    <a href="#view-homework" class="navbar__link"
                        >View homework</a
                    >
                </li>
                <li class="navbar__item">
                    <a href="#add-new" class="navbar__link">Add new</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Docs</a>
                </li>
                <!-- <li class="navbar__item">
                    <a href="" class="navbar__link">Discussions</a>
                </li> -->
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <!-- <div class="top-act__user">
                <img
                    src="./assets/img/avatar.jpg"
                    alt=""
                    class="top-act__avatar"
                />
            </div>
             -->
            <a href="./view/sign-in.html" class="btn btn--text">Sign In</a>
            <a href="./view/sign-up.html" class="btn btn--primary">Sign Up</a>
        </div>
    </div>
</div>
