@use "../abstracts";

.dropdown {
    position: absolute;
    left: -160px;
    padding-top: 10px;
    display: none;
    width: 270px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.18);
    }

    &-action {
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    &-action:last-of-type {
        border: none;
    }

    &-action:hover {
        padding: 12px;
        border-radius: 10px;
        background: #ebebeb;
    }
}
