.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 8px;
        margin-bottom: 15px;

        &--inline {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: red;
            background: rgba($color: red, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }
    }

    &__text-input {
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        display: flex;
        margin: 0 auto;
        width: 350px;
        padding: 12px 5px 12px 12px;
        align-items: center;
        gap: 10px;

        &:focus-within {
            border-color: orange;
        }
    }

    &__input {
        flex: 1;
        width: 100%;
        height: 100%;
        color: #373434;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */

        &::placeholder {
            color: #d2d1d6;
        }
    }

    &__error {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 5px;
        color: red;
        display: none;
    }

    &__input-icon-error {
        display: none;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }

    &__profile {
        width: 500px;
        margin-left: 20px;
    }
}
