<div class="footer">
    <div class="container">
        <div class="footer__column">
            <div class="footer__column-heading">Intro</div>
            <ul class="footer__column-items">
                <li><a href="#!">About Us</a></li>
                <li><a href="#!">Products</a></li>
                <li><a href="#!">Discount</a></li>
                <li><a href="#!">Recruitment</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <div class="footer__column-heading">Contact</div>
            <div class="footer__address">
                <p>
                    Hanoi University of Science and Technology
                </p>
                <p>
                    Shibaura Institute of Technology
                </p>
            </div>
        </div>

        <div class="footer__column">
            <a href="">
                <p>
                    <img
                        src="../assets/img/fb-banner.png"
                        alt=""
                        class="footer__fb-banner"
                    />
                </p>
            </a>
            <p class="footer__social">
                <a
                    href=""
                    class="footer-facebook"
                >
                    <img src="../assets/img/facebook-icon.webp" alt="" />
                </a>

                <a href="https://www.instagram.com/thecoffeehousevn/">
                    <img
                        src="../assets/img/white-instagram-icon-png.png"
                        alt=""
                        class="footer-instagram"
                    />
                </a>
            </p>
        </div>
    </div>
</div>
