<div class="container">
    <div class="top-bar">
        <!-- More -->

        <!-- Logo -->
        <a href="../view/index-logined.html" class="logo">
            <img src="../assets/img/tch-logo.png" alt="" class="logo__img" />
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="../view/coffee-logined.html" class="navbar__link"
                        >Cà phê</a
                    >
                </li>
                <li class="navbar__item">
                    <a href="../view/tea-logined.html" class="navbar__link"
                        >Trà</a
                    >
                </li>
                <li class="navbar__item">
                    <a href="../view/menu-logined.html" class="navbar__link"
                        >Menu</a
                    >
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Chuyện Nhà</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Cảm hứng CloudFee</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Cửa hàng</a>
                </li>
            </ul>
        </nav>

        <!-- Actions -->

        <div class="top-act">
            <div class="top-act__cart">
                <a href="../view/checkout.html">
                    <img
                        src="../assets/icons/cart-shopping-solid.svg"
                        alt=""
                        class="cart-icon"
                    />
                </a>
                <!-- Dropdown -->
                <div class="dropdown">
                    <div class="dropdown__inner" id="cart-dropdown">
                        <div class="dropdown-head" style="font-weight: 600">
                            Giỏ hàng của tôi
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-act__user">
                <img
                    src="../assets/img/avatar.jpg"
                    alt=""
                    class="top-act__avatar"
                />

                <!-- Dropdown -->
                <div class="dropdown">
                    <div class="dropdown__inner">
                        <a href="../view/profile.html" class="dropdown-action">
                            Thông tin tài khoản
                            <p class="dropdown-balance" id="Wallet"></p>
                        </a>
                        <a
                            href="../view/purchase-history.html"
                            class="dropdown-action"
                        >
                            Lịch sử mua hàng
                        </a>
                        <a class="dropdown-action" onclick="logout()"
                            >Đăng xuất</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
