<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign up | The Coffee House</title>

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="../assets/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font -->
        <link rel="stylesheet" href="../assets/fonts/stylesheet.css" />

        <!-- Styles -->
        <link rel="stylesheet" href="../assets/css/main.css" />

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/SignUp.js" defer></script>
        <script src="../assets/js/scripts.js"></script>
    </head>

    <body>
        <!-- Header -->
        <header id="header" class="header"></header>
        <script>
            load("#header", "../templates/header-logined.html");
        </script>

        <!-- Main -->
        <div class="main-first" id="about-app">
            <div class="container">
                <div class="row">
                    <!-- Hero title -->
                    <div class="col-12">
                        <h1 class="page__title">
                            Calculus I: Limits and continuity
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 detail">
                        <p>Due at: 29 July 2024 23:59</p>
                        <div class="detail__instructions">Instructions:</div>
                        <div class="detail__media">
                            <img
                                src="/assets/img/calculus-prob.png"
                                alt=""
                                class="detail__img"
                            />
                        </div>
                    </div>
                </div>
                <div class="row detail__options">
                    <a href="finished-homework.html">
                        <button class="btn btn--primary">Finish</button>
                    </a>
                    <a href="view-homework.html">
                        <button class="btn btn--danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer"></footer>
        <script>
            load("#footer", "../templates/footer.html");
        </script>
    </body>
</html>
